@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Racing+Sans+One&display=swap&family=Domine');

body{

    background-color: #1b1e22;

}

.contenedor{
    
    background: rgb(54, 60, 68);  
    background: radial-gradient(circle, rgb(24, 32, 66) 0%, rgb(52, 54, 58) 100%);
    text-align: center;
    width: 65%;
    height: 100%;
    border-style:dashed;
    border-width: 1px;
    border-radius: 3px;
    border-color:#e6b329;
    border-top: none;
    border-bottom: none;
    margin: auto;
    margin-top: -15px;
    margin-bottom: -15px;
    padding-bottom: 15%;
    padding-top: 1%;
 
}

li{

    font-size: 16px;
    font-family: 'Alatsi', sans-serif;
    margin: 5px;

}

h1{

    color: #e6b329;
    font-family: 'Racing Sans One', sans-serif;
    font-size: 42px;

}

h2{

    color: rgb(255, 255, 255);
    font-family:'Montserrat', sans-serif;
    font-size: 32px;

}

h3{

    color: rgb(255, 255, 255);
    font-family: 'Alatsi', sans-serif;
    font-size: 23px;
    font-weight: 400;
    margin-top: 2px;

}

h4{

    color: white;
    font-family: 'Alatsi', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 0px;


}

h5{

    color: rgb(255, 255, 255);
    font-family: 'Alatsi', sans-serif;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 5px;

}

.disponibles{

    display:inline-block;
    margin: 15px;

}

.portada{

    width: 160px;
    height: 230px;
    border-style:solid;
    border-width: 2px;
    border-color: #ffffff;
    cursor: pointer;
    border-radius: 8px;


}

.portada:hover{

    border-color: #e6b329;
    opacity: 75%;

}

.portada-carta{

    width: 95px;
    height: 125px;
    border-radius: 8px;
    border-style:dashed;
    border-width: 1px;
    border-color:#e6b329;
    margin: 4px;

}

.carta{

    padding: 8px;
    background: rgb(33,33,33);
    background: linear-gradient(29deg, rgba(33,33,33,1) 38%, rgba(40,45,51,1) 45%, rgba(25,28,31,1) 68%);
    width: 20%;
    height: auto;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #e6b329;
    border-radius: 8px;
    list-style: none;
    display: inline-table;
    margin: 10px;
    margin-bottom: 10px;
    
}

.boton{

    text-align: center;
    background-color: #1b1e22;
    color: white;
    font-family: 'Alatsi', sans-serif;
    font-size: 20px;
    padding: 4px;
    border-radius: 6px;
    height: 35px;
    margin: 6px;
    cursor: pointer;
    border-style:solid;
    border-width: 0.5px;
    border-color: #ffffff;

}

.boton:hover{

    border-color: #e6b329;
    background-color: #000000;
    color: #e6b329;

}

.boton-calif{

    text-align: center;
    background-color: #1b1e22;
    color: white;
    font-family: 'Alatsi', sans-serif;
    font-size: 16px;
    padding: 4px;
    border-radius: 6px;
    margin: 8px;
    cursor: pointer;
    border-style:solid;
    border-width: 0.5px;
    border-color: #ffffff;


}

.boton-calif:hover{

    border-color: #e6b329;
    background-color: #000000;
    color: #e6b329;

}

.calificacion{

    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    border-radius: 9px;
    width: 50px;
    text-align: center;

}

.textoCalificacion{

    font-family: 'Domine', sans-serif;
    font-size: 25px;
    margin: 4px;
    letter-spacing: 5px;
    font-weight: bold;
    color: #e6b329;

}

@media (max-width: 1200px){

    .contenedor{

        padding-bottom: 6%;
        padding-top: 2%;

    }

    .carta{

        padding: 10px;
        width: 260px;
        margin: 15px;
        
    
    }

    .disponibles{

        margin: 10px;

    }

    .portada{

        width: 160px;
        height: 210px;

    }

    .portada-carta{

        width: 110px;
        height: 150px;

    }


    .boton{

        font-size: 20px;

    }

    h1{

        font-size: 35px;

    }

    h2{

        font-size: 25px;

    }

    h4{

        font-size: 18px;

    }

    .contenedor{
    
        text-align: center;
        width: 100%;
     
    }

}

@media (max-width: 640px){

    .contenedor{

        padding-bottom: 6%;
        padding-top: 2%;

    }

    .carta{

        padding: 8px;
        width: 70%;
        margin: 8px;
        
    
    }

    .disponibles{

        margin: 20px;

    }

    .portada{

        width: 120px;
        height: 160px;

    }

    .portada-carta{

        width: 80px;
        height: 110px;

    }


    .boton{

        font-size: 18px;

    }

    h1{

        font-size: 35px;

    }

    h2{

        font-size: 18px;

    }

    h3{

        font-size: 20px;

    }

    h4{

        font-size: 13px;

    }

    li{

        font-size: 16px;

    }

    .calificacion{

        font-size: 20px;
        margin: 2px;

    }

    .textoCalificacion{

        font-size: 20px;

    }

    .contenedor{
    
        text-align: center;
        width: 100%;
     
    }

}
